.current-date {
  text-align: center;
  font-style: italic;
}

.dark {
  color: #cacaca;
}

.light {
  color: #333333;
}

.year:hover {
  text-decoration: none;
}

.year.light {
  color: #337ab7;
}

.year.dark {
  color: #6bf;
}
