.brand {
  margin-top: 15px;
  margin-left: 5px;
}

.svg-inline--fa.fa-map-marker-alt.fa-w-12.fa-2x.light,
.svg-inline--fa.fa-map-marker-alt.fa-w-12.fa-2x.dark {
  margin-top: 15px;
  margin-right: 5px;
  cursor: pointer;
}

.svg-inline--fa.fa-map-marker-alt.fa-w-12.fa-2x.light {
  color: #4a4a4a;
}

.svg-inline--fa.fa-map-marker-alt.fa-w-12.fa-2x.light:hover {
  color: #333333;
}

.svg-inline--fa.fa-map-marker-alt.fa-w-12.fa-2x.dark {
  color: #fff;
}

.svg-inline--fa.fa-map-marker-alt.fa-w-12.fa-2x.dark:hover {
  color: #cacaca;
}
