.brand {
  margin-top: 20px;
  margin-left: 5px;
}

.map-marker-alt.light,
.map-marker-alt.dark {
  margin-top: 20px;
  margin-right: 1px;
  cursor: pointer;
}

.map-marker-alt.light {
  color: #4a4a4a;
}

.map-marker-alt.light:hover {
  color: #333333;
}

.map-marker-alt.dark {
  color: #fff;
}

.map-marker-alt.dark:hover {
  color: #cacaca;
}
