.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 75px;
}

.icons {
  margin: 25px 15px 25px 15px;
}

.links {
  margin: 15px;
}

.toggle-theme {
  cursor: pointer;
  margin: 15px;
}

.moon {
  color: #4a4a4a;
}

.sun {
  color: #fff;
}

.envelope.light {
  color: #4a4a4a;
}

.envelope.dark {
  color: #fff;
}

.code.light {
  color: #4a4a4a;
}

.code.dark {
  color: #fff;
}

.github.light {
  color: #4a4a4a;
}

.github.dark {
  color: #fff;
}
