.icons {
  margin: 0;
  padding: 25px 0px 25px 0px;
}

.links {
  margin: 0;
  padding: 15px;
}

.toggle-theme {
  margin: 0;
  cursor: pointer;
  padding: 15px 0px 15px 15px;
}

@media only screen and (max-width: 330px) {
  .links {
    margin: 0;
    padding: 12px;
  }
  .toggle-theme {
    margin: 0;
    padding: 12px 0px 12px 12px;
  }
}

p > a.links:first-child {
  padding-left: 0 !important;
}

.sun,
.envelope.dark,
.code.dark,
.github.dark,
.android.dark,
.apple.dark,
.windows.dark {
  color: #fff;
}

.moon,
.envelope.light,
.code.light,
.github.light,
.android.light,
.apple.light,
.windows.light {
  color: #4a4a4a;
}
