.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #1e2227;
  overflow-x: hidden;
}

.sidenav a {
  text-decoration: none;
  color: #818181;
  transition: all 0.3s ease-out;
}

.sidenav a:hover {
  color: #f1f1f1;
  text-decoration: none;
}

.sidenav .closebtn {
  font-size: 36px;
}

a.location-5 {
  font-size: 16px;
}

a.location-4 {
  font-size: 16px;
}

a.location-3 {
  font-size: 20px;
}

a.location-2 {
  font-size: 30px;
}

a.location-1 {
  font-size: 40px;
  color: white;
  font-weight: bold;
}
