.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #1e2227;
  overflow-x: hidden;
  padding-top: 50px;
}

.sidenav a {
  padding: 5px 15px 5px 15px;
  text-decoration: none;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
  text-decoration: none;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 36px;
}

a.location-5 {
  font-size: 16px;
}

a.location-4 {
  font-size: 16px;
}

a.location-3 {
  font-size: 20px;
}

a.location-2 {
  font-size: 30px;
}

a.location-1 {
  font-size: 40px;
  color: white;
  font-weight: 500;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 1%;
  padding-right: 1%;
  overflow: hidden;
  background-color: #1e2227;
  line-height: 30px;
}

li {
  float: left;
}

li a {
  display: block;
  text-align: left;
  padding: 0px;
  text-decoration: none;
  color: rgb(204, 204, 204);
}

li a:hover {
  text-decoration: none;
  color: white;
  background-color: #1e2227;
}

li a:active {
  text-decoration: none;
  color: white;
  background-color: #1e2227;
}

li a:focus {
  text-decoration: none;
  color: white;
  background-color: #1e2227;
}
