table {
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: auto;
  margin-right: auto;
}

th {
  text-align: left;
}

th.location {
  text-align: center;
  font-size: large;
}

td {
  text-align: right;
}

td.select,
td.link {
  text-align: center;
}

select {
  text-align-last: center;
  text-align: center;
}

th.monthly.text-center.first {
  width: 20%;
}

a.link {
  color: #333;
}
