.name,
.time {
  margin-bottom: 0px;
}

.name {
  font-size: 1.3em;
  font-weight: 400;
  margin-top: 20px;
}

.time {
  font-size: 2.9em;
  font-weight: bold;
}

.name-dark,
.time-dark {
  color: #ffffff;
}

.name-light,
.time-light {
  color: #4a4a4a;
}

.time-highlight {
  color: #9a9d14;
}
