.name,
.time {
  margin-bottom: 0px;
}

.name {
  font-size: 1.5em;
  font-weight: normal;
}

.time {
  font-size: 3.3em;
  font-weight: bold;
}

.name-dark,
.time-dark {
  color: #ffffff;
}

.name-light,
.time-light {
  color: #4a4a4a;
}

.time-highlight {
  color: #9a9d14;
}
