* {
    font-family: Arial, Helvetica, sans-serif;
}


body.dark {
    background-color: #1e2227;
    color: #ffffff;
}

/* body.light {
    background-color: #ffffff;
    color: #333;
} */

.glyphicon-light {
    color: #4a4a4a;
}

.glyphicon-dark {
    color: #fff;
}

h1, h2 {
    color: #4a4a4a;
    font-weight: 700;
}

h1 {
    font-size: 3.7em;
    margin-top: 5px;
    margin-bottom: 5px;
}

h2 {
    /* color: #63636e;    */
    font-size: 3.3em;
    margin-top: 10px;
    margin-bottom: 2px;
}

button.navbar-toggle.collapsed, button.navbar-toggle {
    padding-right: 15px;
    margin-right: 0px;
}

a#basic-nav-dropdown {
    padding-right: 0px;
}

@media (max-width: 767px) {
    img.img-rounded {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

h1 small, h2 small {
    color: #4a4a4a;
    font-size: 20px;
    font-weight: 400;
}

footer i {
      color: #333;
}

.dropdown-menu {
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
}

img {
    margin: 4px
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
}

.container .text-muted {
    margin: 20px 0;
    /* color: #fff */
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #333;
}

img#github-badge {
    margin: 0;
    padding-left: 4px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #1e2227;
    overflow-x: hidden;
    padding-top: 50px;
}
  
.sidenav a {
    padding: 5px 15px 5px 15px;
    text-decoration: none;
    color: #818181;
    display: block;
}
  
.sidenav a:hover {
    color: #f1f1f1;
}
  
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 36px;
}
  
#main {
    padding: 16px;
}

a {
    color: #333;
    text-decoration: none;
}

p i a#year {
    /* color: #337ab7; */
    color: #6bf;
}
  
a:hover {
    color: #777;
    text-decoration: none;
}
  
a:active {
    color: #333;
    text-decoration: none;
}
  
a:focus {
    color: #333;
    text-decoration: none;
}
  
a.location-5 {
    font-size: 16px;
}
  
a.location-4 {
    font-size: 16px;
}
  
a.location-3 {
    font-size: 20px;
}
  
a.location-2 {
    font-size: 30px;
}
  
a.location-1 {
    font-size: 40px;
    color: white;
    font-weight: 500;
}
  
ul {
    list-style-type: none;
    margin: 0;
    padding-left: 1%;
    padding-right: 1%;
    overflow: hidden;
    background-color: #1e2227;
    line-height: 30px;
}
  
li {
    float: left;
}
  
li a {
    display: block;
    text-align: left;
    padding: 0px;
    text-decoration: none;
    color: rgb(204, 204, 204);
}
  
li a:hover {
    text-decoration: none;
    color: white;
    background-color: #1e2227; 
}
  
li a:active {
    text-decoration: none;
    color: white;
    background-color: #1e2227; 
}
  
li a:focus {
    text-decoration: none;
    color: white;
    background-color: #1e2227;
}

img.hidden-md.hidden-lg, img.hidden-xs.hidden-sm{
    margin-top: 15px;
    margin-left: 0px;
}

.glyphicon {
  top: 15px;
  font-size: xx-large;
  cursor: pointer;
}

.glyphicon:hover {
    color: #cacaca;
}

table, td, th, tr {
    padding: 0px;
}

th {
    text-align: left
}

td {
    text-align: right
}

select {
    text-align-last: center;
    text-align: center;
}

.counter-dark {
    color: #6f6f6f;
    font-size: 450%;
    font-weight: 700;
}

.counter-light {   
    color: #cacaca;
    font-size: 450%;
    font-weight: 700;
}

.dot-light {
    /* margin: 10px;
    padding: 10px; */
    height: 32px;
    width: 32px;
    border-radius: 50%;
    display: inline-block;    
    background-color: #4a4a4a;

}

.dot-dark {
    /* margin: 10px;
    padding: 10px; */
    height: 32px;    
    width: 32px;    
    border-radius: 50%;
    display: inline-block;    
    background-color: #ffffff;
}

a.store-dark {    
    color: #ffffff;
}

a.store-light {        
    color: #4a4a4a;
}

span.footer-dark {
    color: #ffffff;
}

span.footer-light {
    color: #4a4a4a;
}

span.location-dark {
    color: #ffffff;
}

span.location-light {
    color: #4a4a4a;
}

span.vakat-time-dark {
    color: #ffffff;
}

span.vakat-time-light {
    color: #4a4a4a;
}

span.highlight {
    color: #9a9d14;
}

small.vakat-name-dark {
    color: #ffffff;
}

small.vakat-name-light {
    color: #4a4a4a;
}

i.date-dark {
  color: #cacaca;
}

i.date-light {
    color: #333333;
}

i.relative-time-dark {
    color: #cacaca;

}

i.relative-time-light {
    color: #333333;

}
