html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0 0 70px 0;
  font-family: Arial, Helvetica, sans-serif;
}

body.dark {
  background-color: #1e2227;
}

body.light {
  background-color: #ffffff;
}
