html,
body,
#root {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
}

body.dark {
  background-color: #1e2227;
}

body.light {
  background-color: #ffffff;
}

/* Alert fix */
.alert-dismissible .btn-close {
  z-index: auto !important;
}